<a href="https://colab.research.google.com/github/VictorMMontanari/PythonEstudo/blob/main/Tuplas_Exerc%C3%ADcios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. Crie uma tupla com o nome de 4 países e imprima na tela o terceiro país da tupla
tuple = ("Brasil","Alemanha","Índia","Austrália")
print(tuple[2])

In [ ]:
#2. Crie uma tupla com 3 valores inteiros e calcule a média dos valores. Em seguida, imprima a média na
# tela.
tuple = (3, 4, 5)
print(sum(tuple) / len(tuple))

In [ ]:
# 3. Crie duas tuplas com 5 elementos cada e verifique se elas têm o mesmo tamanho.
tupla1 = (10, 20, 30, 40, 50)
tupla2 = (2, 4, 6, 8, 10)

if len(tupla1) == len(tupla2):
    print("As tuplas têm o mesmo tamanho")
else:
    print("As tuplas têm tamanhos diferentes")

In [ ]:
# 4. Crie uma tupla com o nome de 5 animais e crie uma nova tupla com os mesmos animais, mas em
# ordem reversa. Em seguida, imprima a nova tupla na tela.
animais = ('gato', 'cachorro', 'leão', 'tigre', 'elefante')
animais_reverso = tuple(reversed(animais))
print(animais_reverso)

In [ ]:
# 5. Crie uma tupla com 3 valores inteiros e imprima na tela o menor valor da tupla.
inteiro=(5,4,3)
menor_valor= min(inteiro)
print(menor_valor)

In [ ]:
# 6. Crie uma tupla com o nome de 4 disciplinas escolares e adicione uma nova disciplina à tupla. Em
# seguida, imprima a nova tupla na tela.

disciplinas = ('Matemática', 'Português', 'Ciências', 'História')
nova_disciplina = disciplinas + ('Geografia',)
print(nova_disciplina)

In [42]:
# 7. Crie uma tupla com os valores 1, 2, 3, 4 e 5 e verifique se o valor 6 está na tupla.
numeros = (1,2,3,4,5)

if 6 in numeros:
    print("O valor 6 foi encontrado na Tupla")
else:
    print("O valor 6 não foi encontrado na Tupla")

O valor 6 não foi encontrado na Tupla

In [ ]:
# 8. Crie uma tupla com o nome de 3 cidades e imprima na tela apenas as cidades que começam com a
# letra "S".
cidade = ("Sumare","Marília","Bauru")

for c in cidade:
    if c.startswith("S"):
        print(c)

In [ ]:
# 9. Crie uma tupla com os valores 3, 6, 9 e 12 e divida cada valor por 3. Em seguida, imprima a nova tupla
# na tela.
valores=(3,6,9,12)
valores_dividos=()

for i in range (len(valores)):
  result=valores[i]//3
  print(f"{valores[i]} / 3 = {result}")
  valores_dividos+=(result,)
print(valores_dividos)

In [ ]:
# 10. Crie uma tupla com o nome de 5 frutas e remova a fruta "abacaxi" da tupla. Em seguida, imprima a
# nova tupla na tela.
frutas = ("banana", "maçã", "abacate", "abacaxi", "laranja")
remover_abacaxi = frutas.index("abacaxi")
frutas = frutas[:remover_abacaxi]+frutas[remover_abacaxi+1:]
print(frutas)